@media all and (max-width: 1000px) {
  .atas h1 {
  	font-size: 100px;
  }
  .atas h2 {
  	font-size: 40px;
  }
  .menus {
    width: 50%;
    margin-bottom: 50px;
  }

  .lesson {
    width: 50%;
    margin-bottom: 50px;

}

@media all and (max-width: 670px) {
  .header-menu {
    display: none;
  }
  
  .menu-icon {
    display: block;
  }
   
  .atas {
    text-align: left; 
  }
  .atas h1 {
    font-size: 50px;
    line-height: 36px;
    text-align: center;
  }
  .atas h2 {
  	font-size: 20px;
  	text-align: center;
  }
  .atas p {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }

  .menus {
  	width: 100%;
  }

  .content h2 {
  	font-size: 15px;
  }

  .card1 h2 {
  	font-size: 15px;
  }

 .card1{
	padding: 200px;
	position: left;
	border: 1px #0c080e;
	background-size: cover;
	height:300px;
	}
  .cardi1 h2 {
  	padding: 50px;
  }


  .heading {
  	padding-bottom: 150px
  	padding-top: 150px;
  }

  .heading h2, h3 {
  	font-size: 15px;
  	padding: 
  }
  
  footer {
  	text-align: center;
	padding-top: 10px;
	color: white;
	width: 100%;
	height: 30%;
  }

  .footer-content h3, h4 {
  	font-size: 15px;
  }

  .lesson {
    width: 100%;
  }

  .facebook {
    margin-bottom: 10px;
  }
}